/* Importa a fonte Chakra Petch do Google Fonts */
@import url('https://fonts.googleapis.com/css2?family=MedievalSharp&display=swap');


body {
    font-family: "MedievalSharp", cursive; /* Define a fonte padrão */
    background-color: #faebc4; /* Cor de fundo da página */
    display: flex; /* Usa Flexbox para layout */
    flex-direction: column; /* Alinha os itens na vertical */
    align-items: center; /* Centraliza os itens horizontalmente */
    justify-content: center; /* Centraliza os itens verticalmente */
    height: 100vh; /* Preenche a altura total da viewport */
    margin: 0; /* Remove a margem padrão */
    margin-top: 150px;
    padding: 0; /* Remove o padding padrão */
  }


header{

  position: fixed; /* Posiciona o cabeçalho */ 
  text-align: center; /* Alinha o texto ao centro */
  padding: 0; /* Espaçamento interno */
  width: 100%; /* Largura total da página */
  bottom: 0; /* Alinha ao fundo da página */
  text-align: center; /* Alinha o texto ao centro */
  font-size: 22px; /* Tamanho da fonte */

}


  #tooltip {
    display: none;
    position: absolute;
    background-color: #8e6a33;
    border: 1px solid #ccc;
    border-radius: 20px;
    padding: 10px;
    z-index: 1;
  }



.classes img {
    overflow: auto; /* Permite rolagem se necessário */
    float: left; /* Faz com que as imagens flutuem para a esquerda */
    height: 10%; /* Define a largura de cada imagem (ajuste conforme necessário) */
    margin: 13px; /* Adiciona uma margem para espaçar as imagens */
   
    
  }

  button {
    position: center center;
    float: left;
    background: none;
    border: 0px;
    height: 100%; /* Define a largura de cada imagem (ajuste conforme necessário) */
    margin: 2px; /* Adiciona uma margem para espaçar as imagens */
    cursor: pointer;
    align-items: center;
    flex-direction: column;
  }
  
  nav {
    background-color: #8e6a33;
    text-align: center;
    position: fixed;
    top: 0;
    width: 100%;
  }
  
  nav ul {
    list-style: none;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  nav li {
    margin: 0 10px;
  }
  
  nav a {
    text-decoration: none;
    color: #ffffff;
    font-size: 28px; /* Ajuste o valor para o tamanho desejado */
  }

/* Estiliza os botões dentro das seções */
section button {

    cursor: pointer; /* Muda o cursor para indicar que é clicável */
}


/* Estiliza o rodapé da página */
footer {
    background-color: #8e6a33; /* Cor de fundo do rodapé */
    color: #ffffff; /* Cor do texto */
    text-align: center; /* Alinha o texto ao centro */
    padding: 0; /* Espaçamento interno */
    width: 100%; /* Largura total da página */
    position: fixed; /* Posiciona o rodapé */
    bottom: 0; /* Alinha ao fundo da página */
    font-size: 22px; /* Tamanho da fonte */
    
}


    footer {
        font-size: 0.9rem; /* Tamanho da fonte do rodapé em telas pequenas */
    }
